<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.memopills">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoPills"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".prueba"
            android:exported="false" />
        <activity
            android:name=".qrprueba"
            android:exported="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
        <activity
            android:name=".Activities.Principal"
            android:exported="false"
            android:label="@string/title_activity_principal" />
        <activity
            android:name=".Dialogos.Qr_dialog"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Activities.Registroacti"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>